// variables
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-primary: #777;
$color-grey-primary-2: #999;
$color-grey-dark: #444;

$color-white: #fff;
$color-danger: #c91f41;
$color-black: #000;
$test-background: #eee;
$lightgrey-bcg: #f7f7f7;

// font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$vertical-space-grid: 8rem;
$horizontal-space-grid: 6rem;
