.u-center-text {
  text-align: center;
}
.u-margin-bottom-lg {
  margin-bottom: 8rem;
}
.u-padding-bottom-lg {
  padding-bottom: 8rem;
}
.u-margin-bottom-md {
  margin-bottom: 4rem;
}
.u-margin-bottom-sm {
  margin-bottom: 2rem;
}
.u-margin-top-lg {
  margin-top: 8rem;
}
.u-margin-top-md {
  margin-top: 4rem;
}
.u-margin-top-sm {
  margin-top: 2rem;
}
.u-margin-x-sm {
  margin: 2rem 0;
}
.u-margin-x-lg {
  margin: 8rem 0;
}
.u-margin-x-md {
  margin: 4rem 0;
}
.u-padding-x-lg {
  padding: 8rem 0;
}
.u-padding-x-md {
  padding: 4rem 0;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-start {
  justify-content: flex-start;
}
.u-align-center {
  align-items: center;
}
