.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  &:not(:last-child) {
    margin-bottom: $vertical-space-grid;
  }

  [class^="col-"] {
    &:not(:last-child) {
      margin-right: $horizontal-space-grid;
    }
  }
  .col-1-of-2 {
    flex: 1;
  }
  .col-1-of-4 {
    flex: 1;
  }
  .col-1-of-3 {
    flex: 1;
  }

  // .col-1-of-3 {
  //   width: calc((100% - #{$horizontal-space-grid}) / 3);
  //   background-color: aqua;
  //   margin-right: $horizontal-space-grid;
  // }
  // .col-2-of-3 {
  //   width: calc(((100% - #{$horizontal-space-grid}) / 3) * 2);
  //   background-color: aqua;
  // }
}
